---
import { getCollection } from "astro:content"
import Layout from "@layouts/Layout.astro"
import smartquotes from "smartquotes-ts"

export async function getStaticPaths() {
	const works = await getCollection("works")
	const articles = await getCollection("articles")

	const entries = [...works, ...articles]

	entries.sort(
		(a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime()
	)

	return entries.map((entry, index, all) => {
		const nextEntry = index > 0 ? all[index - 1] : null
		const prevEntry = index < all.length - 1 ? all[index + 1] : null
		return {
			params: { slug: entry.slug },
			props: { entry, nextEntry, prevEntry },
		}
	})
}

const { entry, prevEntry, nextEntry } = Astro.props
const { Content } = await entry.render()

const publishDate = new Date(entry.data.publishDate)
---

<Layout title={smartquotes(entry.data.title)}>
	<article
		class="entry text-lg text-text"
	>
		<h1
			class="block font-bold text-textcolor-1"
		>
			{entry.data.title}
		</h1>
		<time
			class="text-2xl"
		>
			{publishDate.toLocaleDateString("en", {month: "long"})} {publishDate.getFullYear()}</time
		>
		<Content />
	</article>
	<section class="mt-12">
		<div class="w-full grid grid-cols-1 md:grid-cols-2 gap-2">
			{
				prevEntry && (
					<a
						class="block bg-background shadow-md border-[3px] border-text rounded-2xl hover:shadow-lg transition-shadow overflow-hidden"
						href=`/${prevEntry.slug}`
					>
						<span class="block text-center text-text w-full bg-background">
							&larr; Previous
						</span>
						<h3 class="text-xl font-bold text-text px-4 py-2">
							{prevEntry.data.title}
						</h3>
					</a>
				)
			}
			{
				nextEntry && (
					<a
						class="block bg-background shadow-md border-[3px] border-text rounded-2xl text-right hover:shadow-lg transition-shadow overflow-hidden"
						href=`/${nextEntry.slug}`
					>
						<span class="block text-center text-text w-full bg-background">
							Next &rarr;
						</span>
						<h3 class="text-xl font-bold text-text px-4 py-2">
							{nextEntry.data.title}
						</h3>
					</a>
				)
			}
		</div>
	</section>
</Layout>

<style is:global>
	.entry > * + * {
		@apply mt-4;
	}

	.entry h2,
	.entry h3 {
		@apply font-bold text-text;
	}

	.entry h1 {
		@apply text-2xl md:text-3xl;
	}
	.entry h2 {
		@apply text-xl md:text-2xl;
	}
	.entry h3 {
		@apply text-lg md:text-xl;
	}
	.entry a {
		@apply text-accent underline decoration-accent decoration-2 break-words;
	}
	.entry ul {
		@apply list-disc pl-8 flex flex-col gap-2 marker:text-text;
		list-style: disc;
	}

	.entry img {
		@apply rounded-2xl shadow-lg mt-4;
	}
</style>
