---
import { getCollection } from "astro:content"
import Layout from "@layouts/Layout.astro"

export async function getStaticPaths() {
	const works = await getCollection("works")
	const articles = await getCollection("articles")

	const entries = [...works, ...articles]

	entries.sort(
		(a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime()
	)

	return entries.map((entry, index, all) => {
		const nextEntry = index > 0 ? all[index - 1] : null
		const prevEntry = index < all.length - 1 ? all[index + 1] : null
		return {
			params: { slug: entry.slug },
			props: { entry, nextEntry, prevEntry },
		}
	})
}

const { entry, prevEntry, nextEntry } = Astro.props
const { Content } = await entry.render()

const publishDate = new Date(entry.data.publishDate)
---

<Layout title={entry.data.title}>
	<main class="px-6 max-w-[74ch]">
		<article
			class="entry text-xl text-textcolor-2 dark:text-textcolor-2-dark"
		>
			<h1
				class="block font-bold text-3xl text-textcolor-1 dark:text-textcolor-1-dark"
			>
				{entry.data.title}
			</h1>
			<time
				class="inline-block my-4 text-lg align-middle font-normal text-textcolor-1 dark:text-textcolor-1-dark border-[1px] border-textcolor-1 dark:border-textcolor-1-dark px-2 py-0.5 rounded-lg"
			>
				{publishDate.getMonth() + 1}
				/
				{publishDate.getFullYear()}</time
			>
			<Content />
		</article>
		<section class="mt-12">
			<div class="w-full grid grid-cols-1 md:grid-cols-2 gap-2">
				{
					prevEntry && (
						<a
							class="block bg-primary/10 shadow-md border-[1px] border-textcolor-2 dark:border-textcolor-2-dark rounded-2xl hover:shadow-lg transition-shadow overflow-hidden"
							href=`/${prevEntry.slug}`
						>
							<span class="block text-center text-tertiary dark:text-tertiary-dark w-full bg-textcolor-2 dark:bg-textcolor-2">
								&larr; Previous
							</span>
							<h3 class="text-xl font-bold text-textcolor-2 dark:text-textcolor-2-dark px-4 py-2">
								{prevEntry.data.title}
							</h3>
						</a>
					)
				}
				{
					nextEntry && (
						<a
							class="block bg-primary/10 shadow-md border-[1px] border-textcolor-2 dark:border-textcolor-2-dark rounded-2xl text-right hover:shadow-lg transition-shadow overflow-hidden"
							href=`/${nextEntry.slug}`
						>
							<span class="block text-center text-tertiary dark:text-tertiary-dark w-full bg-textcolor-2 dark:bg-textcolor-2">
								Next &rarr;
							</span>
							<h3 class="text-xl font-bold text-textcolor-2 dark:text-textcolor-2-dark  px-4 py-2">
								{nextEntry.data.title}
							</h3>
						</a>
					)
				}
			</div>
		</section>
	</main>
</Layout>

<style is:global>
	.entry * + * {
		@apply mt-4;
	}

	.entry h2,
	.entry h3 {
		@apply font-bold text-textcolor-2 dark:text-textcolor-2-dark;
	}

	.entry h1 {
		@apply text-3xl;
	}
	.entry h2 {
		@apply text-2xl;
	}
	.entry h3 {
		@apply text-xl;
	}
	.entry a {
		@apply text-secondary dark:text-secondary-dark underline decoration-textcolor-2 dark:decoration-textcolor-2-dark underline-offset-4 break-words;
	}
	.entry ul {
		@apply list-disc pl-8 flex flex-col gap-2 marker:text-primary dark:marker:text-primary-dark;

		list-style: disc;
	}

	.entry img {
		@apply rounded-2xl shadow-lg;
	}
</style>
