---
import S from "./EntryList.module.scss"

import { getCollection } from "astro:content"
import TagList from "./TagList.astro"

const entries = await getCollection("entries")

const sortedEntries = entries.sort(
	(a, b) =>
		new Date(b.data.publishDate).valueOf() -
		new Date(a.data.publishDate).valueOf()
)
---

<section class="entryList">
	<ul class={S.list}>
		{
			sortedEntries.map((entry) => (
				<li class={S.item}>
					<a href={entry.slug} class={S.flex}>
						<time
							class={S.date}
							datetime={entry.data.publishDate.toISOString()}
						>
							{new Date(entry.data.publishDate).getFullYear()}
						</time>
						<div class={S.content}>
							<h2 class={S.title}>{entry.data.title}</h2>
							<p class={S.desc}>{entry.data.description}</p>
							{entry.data.tags && <TagList tags={entry.data.tags} />}
						</div>
					</a>
				</li>
			))
		}
	</ul>
</section>
