---
import S from "./Header.module.scss"
---

<header class={S.header}>
	<a href="/" class={S.title}>
		<h1>Andrea Franchini</h1>
	</a>
	<nav class={S.nav}>
		<a class={S.link} href="https://www.linkedin.com/in/andreafranchini/" target="_blank" rel="noopener">
			LinkedIn
		</a>
		<a class={S.link} href="https://github.com/andreafra" target="_blank" rel="noopener">
			GitHub
		</a>
	</nav>
</header>
