---
export interface Props {
	href: string
	title: string
	description: string
	date: Date
	tags: string[]
	showDate: boolean
}

const { href, title, description, date, tags, showDate } = Astro.props
---

<li itemscope>
	<a href={href} class="flex content-start gap-4 hover:bg-secondary/80">
		<time
			class={`inline-block pt-2 pb-6 pl-6 pr-0 text-xl text-right border-dotted border-textcolor-1 dark:border-textcolor-1-dark border-t-2 ${
				showDate && "invisible"
			}`}
			itemprop="publishDate"
			datetime={date.toISOString()}
			>{
				date.toLocaleString(undefined, {
					year: "numeric",
				})
			}</time
		>
		<div
			class="inline-block flex-grow pt-2 pb-6 pl-0 border-solid border-textcolor-1 dark:border-textcolor-1-dark border-t-2"
		>
			<h2 class="font-extrabold text-xl">
				{title}
			</h2>
			<p class="text-textcolor-3 dark:text-textcolor-3-dark">
				{description}
			</p>
			<ul
				class="flex text-textcolor-3 dark:text-textcolor-3-dark justify-start gap-1 mt-2 flex-wrap"
			>
				{
					tags.map((tag) => (
						<li class="inline-block px-2 rounded-full border-[1px] border-textcolor-3 dark:border-textcolor-3-dark">
							{tag}
						</li>
					))
				}
			</ul>
		</div>
	</a>
</li>
